Source: nose-achievements
Section: python
Priority: optional
Maintainer: Ricardo Kirkner <ricardo@kirkner.com.ar>
Build-Depends: debhelper (>= 7.0.50~),
 python-setuptools (>= 0.6a9),
 python-support (>= 0.90.0)
Standards-Version: 3.9.1
Homepage: http://exogen.github.com/nose-achievements/

Package: python-nose-achievements
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends}
Suggests: python-nose
Description: unlock achievements for running your tests
 Unit Testing Achievements
  * Unlock achievements for running your test suite!
  * Works with nose, unittest, and Django
  * Tested with Python 2.6 and 3.1
  * Entry points for discovering more achievements
